

p, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}



.container {
  background-color: white;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 22px;
  border-radius: 10px;
}

.container h2 {
  color: #444444;
  font-size: 40px;
  font-weight: bold;
  margin: 0px 20px;
}

.container p {
  font-size: 30px;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.container-txt {
  padding: 10px;
  
}

.container-buton {
  display: grid;
  
}

.container-buton button {
  margin: 10px;
  width: 21rem;
  height: 6rem;
  font-size: 40px;
  border-radius: 10px;
  border: transparent;
  font-family: "Open Sans", sans-serif

}

.buton-info {
  color: #444444;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}

.buton-info:hover {
  color: #318aac;
  cursor: pointer;
  box-shadow: inset 0 0 20px #c0c0c0, 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: #444444;
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #5c5b5b;
}

.buton-info:hover .question {
  transition: 0.5s;
  transform: rotate(360deg);
  position: absolute;
  color: #318aac;
}

.buton-lets-go {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  background: #318aac;
  position: relative;
  border: 2px solid #318aac;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}

.buton-lets-go:hover {
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5),
    0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}

.buton-lets-go:hover .arrow {
  transition: all ease-in-out 0.5s;
  position: absolute;
  margin-left: 100px;
  color: yellow;
}

/* ----card--- */

.container-cards {
  display: grid;
  gap: 0px;
  grid-template-areas: "card1 card2  card3 ";
}

.card {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card h3 {
  position: relative;
  bottom: 51px;
  color: white;
}

.card:hover {
  box-shadow: 2px 4px 35px -1px rgba(0, 0, 0, 0.75);
}
img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.container2 {
  padding: 2px 16px;
}

/* ---body3 */

.container3 {
  display: grid;
  gap: 10px;
  grid-template-areas: "containerImg containerTxt2";
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0px 10rem;
  margin: 0px;
}
.containerImg {
  display: block;
  padding: 15px;
}

.containerTxt2 {
  padding: 15px;
}
.imgColor {
  width: 13rem;
  height: 6rem;
}

.containerTxt2 p {
  line-height: 2;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "img1 img2"
    "img3 img4";
}

.btnImg {
  margin-top: 20px;
  background-color: #318aac;
  height: 3rem;
  width: 7rem;
  border-radius: 5px;
  border: transparent;
  color: white;
  font-size: 20px;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;

}

.btnImg:hover {
  cursor: pointer;
  background-color: white;
  color: #318aac;
  border: solid 2px #318aac;
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5),
    0 0 20px rgba(49, 138, 172, 0.4);
}

.btnImg:hover .book {
  transition: 0.5s;
  transform: rotate(360deg);
  position: absolute;
  color: #318aac;
}

.btnImg2 {
  background-color: #318aac;
  height: 2.5rem;
  width: 15rem;
  border-radius: 5px;
  border: transparent;
  color: white;
  font-size: 20px;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;

}
.btnImg2:hover {
  cursor: pointer;
  background-color: white;
  color: #318aac;
  border: solid 2px #318aac;
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5),
    0 0 20px rgba(49, 138, 172, 0.4);
}

.btnImg2:hover .arrow {
  color: #318aac;
  transform: rotate(180deg);
  transition: all ease-in-out 0.8s;
  position: absolute;
  margin-left: 180px;
}

@media (max-width: 1099px) {
  .container-buton {
    justify-content: center;
  }

  .container {
    display: grid;
  }
  .container-cards {
    display: grid;
    gap: 0px;
    grid-template-areas:
      "card1 card2"
      "card3 card3 ";
  }
  .card {
    padding: 0;
    margin: 5px;
  }
  .container3 {
    grid-template-areas: "containerImg" "containerTxt2";
  }

  .containerImg {
    display: grid;
    justify-content: center;
  }
}
